<div class="container-cent">
<h1 class="main-title">Ton Compte à bien était crée <i class="em em-white_check_mark"></i> </h1>
<h3 class="main-title">Maintenant tu peux te connecter ! <h3>
<%=  link_to "Connexion", login_path , class: "btn btn-success ", id: "con" %> 
</div>